.breadcrumb a{
  color: var(--muted-color);
  text-decoration: none;
  font-size: 12px;
}
.breadcrumb a:hover{
  color: var(--primary-color);
}

.breadcrumb li{
  font-size: 12px;
  color: var(--secondary-color) !important;
}
